plugins {
    id("com.android.library")
}

android {
    namespace = "com.aesbuilder.lib"
    compileSdk = rootProject.extra["compileSdk"].toString().toInt()

    defaultConfig {
        minSdk = rootProject.extra["minSdk"].toString().toInt()
        targetSdk = rootProject.extra["targetSdk"].toString().toInt()

        externalNativeBuild {
            cmake {
                cppFlags("-frtti", "-fexceptions")
            }
        }

        ndk {
            abiFilters += listOf({{ABI_FILTERS}})
        }

    }

    buildTypes {
        release {
            isMinifyEnabled = false
            proguardFiles(getDefaultProguardFile("proguard-android-optimize.txt"), file("proguard-rules.pro"))
        }
    }

    externalNativeBuild {
        cmake {
            path = file("CMakeLists.txt")
        }
    }

}

dependencies {
}
